@font-face {
    font-family: "Arcade";
    src: url("/static/fonts/ka1.ttf");
}

html, body {
    height: 100%;
}

body {
    background-color: bisque;
    margin: 0;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}